@page "/"

<PageTitle>Ticket Management Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>HI @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>HI BRO!</h1>
        Welcome to Motor Reparation Ticket Management Application. Please Login To View Tickets
    </NotAuthorized>
</AuthorizeView>
