@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/login">LOGIN</a>
                    <a href="/register">REGISTER</a>
                </NotAuthorized>
                <Authorized>
                    <a> HELLO @context.User.Identity.Name</a>
                    <a href="/logout">LOGOUT</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <BlazoredToasts />
            @Body
        </article>
    </main>
</div>
